.flex{
    display: flex;
}

.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.btn{
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-primary{
    background-color: aqua;
    color: black;
    transition: all 0.2s;
}
.btn-primary:hover{
    background-color:black;
    border-color: aqua;
    color:aqua;
}
.btn-secondary{
    background-color: aqua;
    color:black;
    border-color:aqua;
    margin-left: 4rem;
}
.btn-secondary:hover{
    background-color: black;
    color:aqua;
}
.flex-1{
    flex:1;
}